.idea/
.mvn/
*.log
*.iml
*.DS_Store
target/*
target/archive-tmp/
target/classes
target/generated-sources
target/maven-archiver/
target/surefire-reports/
target/test-classes/
target/menu-aggregator-service-0.0.1-SNAPSHOT-jar-with-dependencies.jar
target/menu-aggregator-service-0.0.1-SNAPSHOT.jar.original
.classpath
.project
.settings/
bin/
/target/

